.monthGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 колонок для дней недели */
  gap: 10px; /* Отступы между квадратиками */
  width: 90vw; /* Занимает 90% ширины экрана */
  max-width: 500px; /* Максимальная ширина */
  margin: 0 auto;
  padding: 20px;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #414141;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.day:hover {
  background-color: #957575;
}

/* Стили для типов отходов */
.restabfall {
  background-color: #e74c3c; /* Красный для restabfall */
}

.altpapier {
  background-color: #3ce756; /* Зеленый для altpapier */
}

.bioabfall {
  background-color: #818aa2; /* Синий для bioabfall */
}

/* Стиль для выделения сегодняшнего дня */
.today {
  color: #200303;
  font-size: 19px;
  border: 2px solid transparent;
  background-color: #a06b6b; /* Оранжевый для сегодняшнего дня */
  font-weight: bold; /* Сделаем текст жирным для выделения */
  border-color: #e7e0e0; /* Яркая граница вокруг сегодняшнего дня */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Более выраженная тень для сегодняшнего дня */
}

/* Стили для изображений */
.image {
  width: 20px; /* Устанавливаем размер изображения */
  height: auto;
  margin-top: 5px; /* Отступ сверху */
}
