#root{width: 100%;height:100%;}
:root {
  --color-bg: #000000;
  --color-active: #c60f7a;
  width: 100%;height: 100vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  background-color:rgb(206, 111, 111);

}
@media (min-width: 480px) {
  .app {
    font-family: sans-serif;
    text-align: center;
    width: 200px;
    height: 100vh;
    background-color: rgb(88, 184, 152);
  }
}


/* header{

width: 200px;
height: 200px;
background-color: red;
}

.container{
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}
 */
 .home{
  width: 100%;
  height: 100vh;
  background-color: rgb(89, 89, 143);
 }