.mainHeader {
  display: flex;
  justify-content: center;  /* Центрирование по горизонтали */
  align-items: center;      /* Центрирование по вертикали */
  min-width: 100%;
  min-height:max-content; 
  background-color: green;
  padding: 1% 0px; 
  font-size: clamp(1rem, 0.818rem + 0.91vw, 1.5rem);

}

.mainContainer {
  font-family: sans-serif;
  text-align: center;
  width: 100%; /* Элемент будет занимать 100% ширины экрана */
  height: 100vh; /* Высота будет подстраиваться по содержимому */
  background-color: rgb(226, 185, 185);
}

/* Медиазапрос для экранов шириной более 480px */
@media (min-width: 481px) {
  .mainContainer {
    /* padding: 15px;  */
  }
  .mainHeader{ padding: 5px}
}

   